.table_head_row {
    flex-direction: column;
}

.timetable {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timetable table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.timetable th, td {
    width: 100px;
    height: 40px;
    padding: 10px;
}

.timetable tr > td:first-child {
    font-weight: 700;
}

.raspisanie_block {
    cursor: pointer;
    text-align: center;
}

.raspisanie_block_ordered {
    background: #ffe087;
}

.raspisanie_block_payed {
    background: rgb(118, 255, 94);
}

.raspisanie_block_passed_time {
    background: rgb(205, 205, 205);
    cursor: default;
}


.raspisanie_block_empty:hover {
    background: rgb(106, 175, 3);
    color: white;
}

.raspisanie_block_payed:hover {
    background: rgb(24, 153, 2);
    color: white;
}

.raspisanie_block_ordered:hover {
    background: #d2a937;
    color: white;
}