:root {
    --success : rgb(118, 255, 94);
    --success-dark : rgb(24, 153, 2);
    --success-light : rgb(106, 175, 3);
    --passed: #cdcdcd;
    --problem: #d2a937;
    --error: red;
    --repatative_color: skyblue;
    --repatative_color_hoover: rgb(0, 144, 200);
}

.table_head_row {
    flex-direction: column;
}

.timetable {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.right_part {
    margin-left: 30px;
}
.calendar_nav {
    display: flex;
    gap: 20px;
}

.timetable table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.timetable th, td {
    min-width: 150px;
    height: 40px;
    padding: 10px;
}

.timetable tr > td:first-child {
    font-weight: 700;
}

.raspisanie_block {
    cursor: pointer;
    text-align: center;
    color: #000;
}



.raspisanie_block_passed_time {
    cursor: default;
}


.raspisanie_block_payed:hover {
    color: white;
}

.raspisanie_block_ordered:hover {
    color: white;
}
.raspisanie_block_weekly {
    color: white;
}
.raspisanie_block_weekly:hover {
    color: white;
}

.table_wrapper {
    max-width: 1200px;
    overflow-x: scroll;
    border: 1px solid black;
}
.dialog {
    z-index: 10;
    position: fixed;
    padding: 50px;
}

.top_modal_close_row {
    display: flex;
    justify-content: end;
}

.change_button {
    background: var(--success-dark);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
}

.delete_button {
    background: var(--error);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
}
.logs_button {
    background: var(--repatative_color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    margin-block-end: 1em;
}
.name_button {
    background: var(--success-dark);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    font-size: 18px;
    margin-block-end: 1em;
}
.button_row {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.order_info {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.order_info > li {
    margin-top: 10px;
}

button {
    cursor: pointer;
}

.dialog_close_button {
    cursor: pointer;
    font-size: 18px;
}

.error_text {
    color: var(--error);
}

.order_info > li > input {
    width: 100%;
}
.order_info > li > select {
    width: 100%;
}
.order_info > li > textarea {
    width: 100%;
}
.add_new_repeatative_task_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.add_new_repeatative_task_button {
    color: white;
    background: var(--repatative_color);
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.login_info {
    width: 100%;
    text-align: end;
}

.login_info_wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.login_info_wrapper > p {
    margin: 0;
}


.xdsoft_calendar > table {
    max-width: 250px;
}