<dialog class="dialog">
    <div class="dialog_containter">
        <div class="dialog_top_row">
            <h3 class="dialog_title">Информация о брони</h3>
            <div class="dialog_close_button" onclick="close_modal(this)">x</div>
        </div>
        <ul class="order_info">
            <li> <span>Дата и время начала брони:</span> <input id="modal_start_time" readonly value="31.10.2023 11:00"> </li>
            <li> <span>Дата и время окончания брони:</span> <input id="modal_end_time" readonly> </li>
            <li> <span>Статус:</span> <select> <option value="Оплачен" selected>Оплачен</option> <option value="Ожидает оплаты">Ожидает оплаты</option> </select> </li>
            <li> <span>Клиент:</span> <input type="text" value="Иван Сергеевич Иванов"> </li>
            <li> <span>Телефон:</span> <input type="text" value="8 983 313-70-82"> </li>
            <li> <span>Есть аккаунт в битрикс:</span>  <input type="checkbox"> </li>
            <li> <span>Ссылка на трансялцию:</span> <span> Нажмите сюда </span></li>
        </ul>
        <div class="button_row">
            <button class="change_button" type="button"> 
                Изменить
            </button>
        </div>
    </div>
</dialog>