<dialog open class="dialog">
    <form class="dialog_containter">
        <input type="hidden" value="{{repeatative_order.id}}" id="order_id">
        <div class="dialog_top_row">
            <div class="top_modal_close_row">
                <img src="/static/close.svg" width="30" height="30" alt="clsoe button" class="dialog_close_button" onclick="close_modal(this)"/>
            </div>
            <h3 class="dialog_title">Изменить элемент расписания</h3>
        </div>
        <ul class="order_info">
            <li> <span>Время начала:</span> <input id="modal_start_time_only" value="{{start_time}}"> </li>
            <li> <span>Время окончания:</span> <input id="modal_end_time_only" value="{{end_time}}"> </li>
            <li> <span>Описание:</span> <textarea type="text"  id="description">{{repeatative_order.description}}</textarea></li>
            
            <li> 
                <span>Дни недели:</span>  
                <select id="weekdays" multiple>
                    {% for weekday in weekdays %}
                        <option value="{{weekday.value}}" {% if weekday in curent_weekdays %} selected {% endif %}>{{weekday.get_rus_name()}}</option>
                    {% endfor %}
                </select>
            </li>
            <li> 
                <span>Цвет:</span>  
                <select id="color_modal_id">
                    <option>Стандартный</option>
                    {% for color in colors %}
                        <option value="{{color.name}}">{{color.value["color_name"]}}</option>
                    {% endfor %}
                </select>
            </li>
        </ul>
        <p class="error_text">

        </p>
        <div class="button_row">
            <button class="change_button" type="button" onclick="change_repeatative_event('{{repeatative_order.id}}')"> 
                Изменить
            </button>
            <button class="delete_button" type="button" onclick="delete_repeatative_event('{{repeatative_order.id}}')"> 
                Удалить запись
            </button>
        </div>
    </form>
</dialog>