<table id="timetable_table">
    <tr>
        <th></th>
        {% for day_name in data %}
        <th class="table_head_row"> <span>{{day_name["day"]}}</span> <br> <span>{{day_name["date"]}}</span> </th>
        {% endfor %}
    </tr>
    {% for time in time_range %}
        {% set outer_loop = loop %}
        {% if loop.nextitem is defined %}
        <tr>
            <td>{{time.time_object.hour}}.{{time.time_object.strftime('%M')}} - {{loop.nextitem.time_object.hour}}.{{loop.nextitem.time_object.strftime('%M')}} </td>
            
            {% for cell in data %}
                
                {% if not(cell["time"][outer_loop.index0]["hide"]) %}
                <td class="raspisanie_block {{cell['time'][outer_loop.index0].get_class()}} "
                {% if cell["time"][outer_loop.index0].get_interval() %} rowspan='{{cell["time"][outer_loop.index0].get_interval()}}' {% endif %} 
                data-starttime="{{time.time_object.strftime('%H')}}:{{cell['time'][outer_loop.index0].start_time.time_object.strftime('%M')}}" 
                data-date="{{cell['date']}}" 
                {% if (cell['time'][outer_loop.index0].order) %}
                data-orderid="{{cell['time'][outer_loop.index0].order.id}}"
                {% endif %}
                {% if (cell['time'][outer_loop.index0].repeatative_order) %}
                data-orderid="{{cell['time'][outer_loop.index0].repeatative_order.id}}"
                {% endif %}
                title="Посмотреть заказ">{{cell["time"][outer_loop.index0].get_text()}}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endif %}
    {% endfor %}
</table>